<ion-header >
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{selectedAttraction.name}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="openInformation()">
        <ion-icon name="information-circle"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-fab right bottom>
    <button *ngIf="!hasTicket" ion-fab color="secondary" (click)="requestTicket()">
      <ion-icon name="add"></ion-icon>
    </button>
    <button *ngIf="hasTicket" ion-fab mini color="danger" (click)="cancelTicket()">
      <ion-icon name="close"></ion-icon>
    </button>
  </ion-fab>
  <img src="{{getImage()}}"/>

  <div class="statusAttraction">
    400 Pessoas na Fila ss
  </div>

  <ion-card *ngIf="!hasTicket">
    <ion-card-header class="info blue">
      30 min
    </ion-card-header>
    <ion-card-content>
      Tempo aproximado para entrar
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="hasTicket">
    <ion-card-header class="info red">
      6 min
    </ion-card-header>
    <ion-card-content>
      Tempo aproximado para entrar
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="hasTicket">
    <ion-card-header class="info green">
      {{posQueue}}
    </ion-card-header>
    <ion-card-content>
      Posição na fila
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="hasTicket">
    <ion-card-header>
      Ticket
    </ion-card-header>
    <ion-card-content>
      <qr-code [value]="getDataTicket()"></qr-code>
    </ion-card-content>
  </ion-card>

</ion-content>
