page-attraction {
  ion-content {
    button {
      margin-top: -10%;
      margin-left: 3%;
    }

    text-align: center;
  }
}

.statusAttraction{
  margin-top: -5%;
}
.info {
    font-size: 55px;
}
.info.blue { background-color: #E3F2FD; }
.info.red { background-color: #FFCCBC; }
.info.green { background-color: #DCEDC8; }
