page-attraction {
  ion-content {
    text-align: center;
  }
  qr-code {
    img {
      width: 100%;
      height: 100% !important;
    }
  }
}

.info {
    font-size: 55px;
}
.info.blue { background-color: #E3F2FD; }
.info.red { background-color: #FFCCBC; }
.info.green { background-color: #DCEDC8; }
